In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_titanic = pd.read_excel("titanic_imputed1.xlsx")
df_titanic

      gender   age             class  ... sibsp  parch  survived
0       male  42.0               3rd  ...     0      0         0
1       male  13.0               3rd  ...     0      2         0
2       male  16.0               3rd  ...     1      1         0
3     female  39.0               3rd  ...     1      1         1
4     female  16.0               3rd  ...     0      0         1
...      ...   ...               ...  ...   ...    ...       ...
2202    male  41.0         deck crew  ...     0      0         1
2203    male  40.0  victualling crew  ...     0      0         1
2204    male  32.0  engineering crew  ...     0      0         0
2205    male  20.0  restaurant staff  ...     0      0         0
2206    male  26.0  restaurant staff  ...     0      0         0

[2207 rows x 8 columns]

In [ ]:
df_titanic.shape

(2207, 8)

In [ ]:
male = np.sum(df_titanic.gender=="male")
male

1718

In [ ]:
male/df_titanic.shape[0]

0.7784322609877662

In [ ]:
df_titanic.loc[(df_titanic["gender"] == "male") & (df_titanic["class"] == '1st')]["age"].mean()

40.96064814814833

In [ ]:
#ogólna liczba
df_titanic.groupby(by=["embarked"]).count()

             gender   age  class  fare  sibsp  parch  survived
embarked
Belfast         197   197    197   197    197    197       197
Cherbourg       271   271    271   271    271    271       271
Queenstown      123   123    123   123    123    123       123
Southampton    1616  1616   1616  1616   1616   1616      1616

In [ ]:
#suma
df_titanic.groupby(by=["embarked"]).sum()

                      age        fare  sibsp  parch  survived
embarked
Belfast       6828.000000    399.0000      0      0        43
Cherbourg     8480.166667  16205.4092    114     98       153
Queenstown    3259.000000   1464.2406     42     14        44
Southampton  48605.833333  26052.8960    497    392       471

In [ ]:
43/197

0.2182741116751269

In [ ]:
153/271

0.5645756457564576

In [ ]:
44/123

0.35772357723577236

In [ ]:
471/1616

0.29146039603960394

In [ ]:
(df_titanic.groupby(by=["class"]).sum())["fare"]

class
1st                 28841.4979
2nd                  6113.8318
3rd                  9166.2161
deck crew               0.0000
engineering crew        0.0000
restaurant staff        0.0000
victualling crew        0.0000
Name: fare, dtype: float64

In [ ]:
df_titanic.loc[df_titanic["class"] == "1st"].corr(method="spearman")

               age      fare     sibsp     parch  survived
age       1.000000 -0.173346 -0.024316 -0.113828 -0.234713
fare     -0.173346  1.000000  0.381650  0.388255  0.190984
sibsp    -0.024316  0.381650  1.000000  0.205092  0.155194
parch    -0.113828  0.388255  0.205092  1.000000  0.127416
survived -0.234713  0.190984  0.155194  0.127416  1.000000

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [1]:
df_titanic['klasa'] = df_titanic['class']

NameError: ignored

In [ ]:
data = df_titanic.loc[df_titanic["class"].isin(["1st", '2nd', "3rd"])]

In [ ]:
from statsmodels import formula
data = df_titanic.loc[df_titanic["klasa"].isin(["1st", '2nd', "3rd"])]
modelRegresji = smf.ols(formula = "fare ~ (gender + age + embarked + klasa)", data = data).fit()
print(modelRegresji.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   fare   R-squared:                       0.397
Model:                            OLS   Adj. R-squared:                  0.394
Method:                 Least Squares   F-statistic:                     123.2
Date:                Mon, 07 Feb 2022   Prob (F-statistic):          5.05e-139
Time:                        10:28:28   Log-Likelihood:                -6736.2
No. Observations:                1317   AIC:                         1.349e+04
Df Residuals:                    1309   BIC:                         1.353e+04
Df Model:                           7
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                 107.0697     14.193      7.544      0.000      79.226     134.914
gender[T.male]            -11.6476      2.391     -4.872      0.000     -16.338      -6.957
embarked[T.Cherbourg]       0.7699     13.829      0.056      0.956     -26.359      27.899
embarked[T.Queenstown]    -10.7651     14.206     -0.758      0.449     -38.633      17.103
embarked[T.Southampton]    -5.7457     13.635     -0.421      0.674     -32.495      21.003
klasa[T.2nd]              -66.4297      3.561    -18.653      0.000     -73.416     -59.443
klasa[T.3rd]              -74.8398      3.216    -23.270      0.000     -81.149     -68.530
age                        -0.2226      0.089     -2.494      0.013      -0.398      -0.048
==============================================================================
Omnibus:                     1317.948   Durbin-Watson:                   1.352
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            86272.150
Skew:                           4.655   Prob(JB):                         0.00
Kurtosis:                      41.542   Cond. No.                         805.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
def create_sum_table(n_rows, n_cols):
    sum_table = []
    for r in range(n_rows):
        row_values = []
        for c in range(n_cols):
            row_values.append(r + c)
        sum_table.append(row_values)
    return sum_table

In [ ]:
create_sum_table(5, 7)

[[0, 1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6, 7],
 [2, 3, 4, 5, 6, 7, 8],
 [3, 4, 5, 6, 7, 8, 9],
 [4, 5, 6, 7, 8, 9, 10]]

In [ ]:
pd.crosstab(df_titanic.survived, df_titanic.embarked)

embarked  Belfast  Cherbourg  Queenstown  Southampton
survived
0             154        118          79         1145
1              43        153          44          471